{% extends '../Layout/layout.html' %}

{% block crumbs %}
JD自营 / 产品管理
{% end %}

{% block content %}
<style>
    .error-message{
			margin: 4px 0 0 0;
			padding: 0;
			color: red;
		}
</style>

<div>
    <table id="tb" class="easyui-datagrid"></table>

</div>
    <script>

        $(function () {
            // 加载表格数据
            InitMenu();
            InitTable();
            InitPagination();

        });

        /*
        初始化左侧菜单
        */
        function InitMenu(){
            $('#menu').accordion('select',2);
            $('#product').addClass('active');
        }
        /*
        初始化表格内容
         */
        function InitTable(){
            $('#tb').datagrid({
                title: '产品列表',
                url: '/JdProduct.html',
                method: 'get',
                //fitColumns: true,
                idField: 'nid',
                singleSelect: true,
                rownumbers: true,
                striped: true,
                autoRowHeight: true,
                columns:[[
                    {
                        field:'ck',
                        checkbox:true
                    },
                    {
                        field:'nid',
                        title:'ID',
                        align:'center'
                    },
					{
                        field:'title',
                        title:'商品名称',
                        align:'center',
                        width: 180
                    },
					{
                        field:'img',
                        title:'图片',
                        align:'center',
                        formatter: function(val,row,index){
                            var tagImg = "<img style='height: 60px;width: 60px;' src='" + row.img + "' />";
                            return tagImg;
                        }
                    },
					{
                        field:'price',
                        title:'价格',
                        align:'center',
                        width: 180,
                        formatter: function(val,row,index){
                            var tagPrice = "<a href='JdProductPriceManager.html?product_id=" + row.nid +"'>规格（价格）</a>";
                            return tagPrice;
                        }

                    },
                    {
                        field:'detail',
                        title:'商品详细',
                        align:'center',
                        width: 180,
                        formatter: function(val,row,index){
                            var tagPrice = "<a href='JdProductDetail.html?product_id=" + row.nid +"'>详细</a>";
                            return tagPrice;
                        }

                    },
					{
                        field:'option',
                        title:'选项',
                        align:'center',
                        width: 180,
                        formatter: function(val,row,index){
                             var tagEdit = "<a href='JdProductEdit.html?product_id=" + row.nid +"'>修改</a>";
//                            var tagEdit = "<a href='javascript:alert(1111)'>修改</a>";
//                            var tagDelete = "<a href='javascript:alert(1111)'>删除</a>";
                            return tagEdit
                        }

                    }
				]],
                toolbar: [
                    {
                        text: '添加',
                        iconCls: 'icon-add',
                        handler: function(){
                            location.href = 'JdProductEdit.html';
                        }
                    },
                    {
                        text: "删除",
                        iconCls: 'icon-remove',
                        handler: RemoveRow
                    }
                ],
                pagePosition: 'both',
                pagination:true,
                pageSize:10,
                pageNumber: 1,
                pageList: [10,20,50],
                onClickRow: function (rowIndex, rowData) {
                    $(this).datagrid('unselectRow', rowIndex);
                },
                loadFilter: function(data){
                        if(data.status){
                            return data;
                        }else{
                            $.messager.alert('错误提示',data.message,'error')
                        }
                    }
                });
        }

        /*
        初始化分页
         */
        function InitPagination(){
            var pager = $('#tb').datagrid('getPager');
            $(pager).pagination({
                beforePageText: '第',
                afterPageText: '页 共{pages}页',
                displayMsg: '当前显示{from}-{to}条记录 共{total}条数据'

            })
        }

	  function RemoveRow() {
            //获取已经选中的行
            var rows=$("#tb").datagrid("getSelections");
             // 警告框
            if(rows.length<1){
                $.messager.alert("警告","请选择要删除的行","warning")
            }else if(rows.length>1){
                $.messager.alert("警告","不支持批量删除","warning")
            }else{
                // 确认框
                $.messager.confirm('确定', '您确定要删除吗？', function (status) {
                    if(status){
                        // 点击确定
                        // 获取当前选中行的值，Ajax发送到后台
                        var row = rows[0];
                        $.ajax({
                            url: '/JdProductEdit.html',
                            type: 'delete',
                            data: {nid: row.nid},
                            dataType: 'json',
                            success: function (data) {
                                console.log(data);
                                if(data.status){
                                    //删除成功
                                    $.messager.show({
                                        msg:'删除成功',
                                        showType:'slide',
                                        showSpeed: 500,
                                        timeout: 5,
                                        style:{
                                            right:'',
                                            top:document.body.scrollTop+document.documentElement.scrollTop,
                                            bottom:''
                                        }
                                    });
                                    // 重新加载表格
                                    var rowIndex = $('#tb').datagrid('getRowIndex', row);
                                    $('#tb').datagrid('deleteRow',rowIndex);
                                    $('#tb').datagrid('reload');

                                }else{
                                    //删除失败
                                    // $.messager.alert('错误信息', data.summary ,'error');
                                    $.messager.show({
                                        icon: 'error',
                                        title:'错误信息',
                                        msg:data.summary,
                                        showType:'slide',
                                        timeout: 0,
                                        style:{
                                            right:'',
                                            top:document.body.scrollTop+document.documentElement.scrollTop,
                                            bottom:''
                                        }
                                    });
                                }
                            }
                        });
                    }
                })
            }
        }

    </script>

{% end %}